$accent_red: #c63045;
$accent_green: #00aa90;

$red: #c20000;

$gold: #ffd000;
$white: #ffffff;
$pacific_blue: #0099cc;

$text_primary: #111111;
$text_secondary: #333333;
$text_gray_dark: #666666;
$text_gray: #cccccc;
$text_gray_light: #eeeeee;

$background_primary: #ffffff;
$background_secondary: #f6f6f6;
